body {
    height: 100vh;
    background-color: #dadff7;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

.calculator {
    width: 1000px;
    background-color: #071013;
    padding: 50px 30px;
    margin:auto;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 25px;
}
.calculation {
    grid-column: span 6;
}

.history {
    grid-column: span 4;
}

#historyTitle {
    color: aliceblue;
    text-align: center;
}

.display input {
    width: 100%;
    padding: 15px 10px;
    font-size: 35px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: right;
}

.display input::placeholder {
    color: #9490ac;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 40px;
}

